@font-face {
  font-family: 'Noto Sans';
   src: url('../fonts/notosans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}